@import "../theme";

.waitingRoom     {
    &.space {
        margin-top: 50px;
    }
    &.header {
    @include center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    }
    &.container {
    margin-top: 155px;
    min-height: 100px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: E72929;
  }
  &.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: E72929;
    transition: opacity 0.5s ease, transform 0.5s ease;
    
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.35);
    color: black;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
  }
  &.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}