@import "../theme";

.waitingRoom {

  &.total-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    //background: url('../../../resources/wolfBody.png');
    background-position: center;
    background-size:cover;
  }
  
  &.background-container {
    //background: url('../../../resources/kingCard.jpg');
    background-color: rgba(225, 225, 225, 1);
    background-position: center;
    background-size: cover;
    max-height: 2340px;
    max-width: 100vw;
    width: 375px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 15px;
    @include center;
    display: flex;
    //justify-content: center; // content is vertically centered
    justify-content: flex-start; // content vertically starts at the top
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    position: fixed;
  }

  &.highlight {
    @include center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    max-width: 30em;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: #FB6D48;
    margin-top: 10px;
  }

  &.header {
    @include center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  &.heading {
    @include center;
    padding: 2px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; // Centers content horizontally in the flex container
    align-items: center; // Centers content vertically in the flex container
    flex-direction: column; // Stacks items vertically
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
  }

  &.container {
    @include center;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    font-size: 22px;
    align-items: center;
    padding: 2px;
    width: 375px;
  }

  &.button-container {
    @include center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 200px;
    max-width: 100vw;
    width: 300px;
  }

  &.host-game-container {
    // this one is the outer container
    padding: 1px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: calc(100vh - 342px);
    //max-height:calc(100vh - (100vh - 100%));
    //max-height: 600px;
    width: 375px;
    left: 0;
    right: 0;
    margin-left: 2px;
    margin-right: 2px;
    overflow: scroll;
  }

  &.game-container {
    // this one is the outer container
    padding: 1px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: calc(100vh - 245px);
    //max-height:calc(100vh - (100vh - 100%));
    //max-height: 600px;
    width: 375px;
    left: 0;
    right: 0;
    margin-left: 2px;
    margin-right: 2px;
    overflow: scroll;
  }

  &.player-container {
    // this one is the inner container
    max-width: 100vw;
    width: 300px;
    left: 0;
    right: 0;
    padding: 1px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    overflow-x: hidden;
    background-color: lighten($background, 5);

    &:disabled {
      cursor: default;
      opacity: 0.4;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }

  &.player-username {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 1px;
  }

  &.game-user-list {
    list-style: none;
    padding-left: 0;
  }

  &.popover-container {
    @include center;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    font-size: 22px;
    align-items: center;
    padding: 15px;
    width: 365px;
    background-color: #FB6D48;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.15);
  }

  &.settings-dropdown {
    @include center;
    display: flex;
    flex-direction: column;
    justify-content: center; // content vertically starts at the top
    align-items: center;
    position: relative;
    padding: 15px;
    background-color: #b4b4b4;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
  }

  &.dropdown {
    @include center;
    display: flex;
    flex-direction: column;
    justify-content: center; // content vertically starts at the top
    align-items: center;
    position: relative;
    padding: 15px;
    width: 375px;
    height: 100vh;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
  }

  &.setting-button {
    color: #FB6D48;
    border: 0.1px;
    background-color:transparent;
    cursor: pointer;
    //width: 70px;
  }

  &.settings-container {
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    font-size: 22px;
    align-items: flex-end;
    width: 375px;
  }
}