@import "../theme";

.base-container {
  //@include background-image("../../resources/forest.jpg"); // Apply background image
  justify-content: center; // This centers the button horizontally
  align-items: center; // This centers the button vertically (optional, depending on your layout needs)
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
  //@include background-image('../../resources/forest.jpg');
  gap: 20px;
}
