@import "../theme";

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  // &:colors{
  //   background-color: $accent;
  //   color: $background;
  // }
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  padding: 7px;
  margin-top: 7px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  height: 100px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $accent;
  transition: all 0.3s ease;
}



